body {
  font-family: 'Inter', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  background: none;
  border-radius: 16px;
  color: #392928;
  background-image: url('./assets/sprinkles.jpg');
  background-repeat: no-repeat;

  p {
    padding: 0;
    margin: 0;
  }
}
